* {
  color: brown;
  background-color: beige;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1, h3, h4, h5, p{
  color: red;
  background-color: aqua;
}
.pra1{
  background-color: beige;
  color: black
}
#sel1{
  color: blueviolet;
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li>a{
  color: blue
}
a{
  color: darkgreen;
}